#title
{
    background-color: #323232;
    color:#fff;
    padding-bottom: 10%;
   
}

.container-fluid
{
    padding:3% 15%;
}

h1{
    line-height:1.5;
    font-size: 3.5rem;
    font-family:'Montserrat-Black';
}

h2{
    font-family:"Montserrat-Bold";
    font-size:2.5rem;
    line-height:1.5;
}

body
{
    font-family:'Montserrat';
}

.navbar
{
    padding: 0 0 4.5rem;
}

.navbar-brand
{
    font-family:'Ubuntu';
    font-size:2.5rem;
    font-weight:bold;
}

.nav-item
{
    padding:0 18px;
}

.nav-link
{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

.download-button
{
    margin:5% 3% 5% 0;
}

.title-image
{
    width: 100%;
    border-radius: 10%;
    margin-left: 15%;
}


.image{
    width:100%;
    height:80%;
    border-radius: 100%;
}

#features
{
    padding:7% 15%;
}

.feature-box
{
    text-align: center;
    padding: 5%;
}

h3{
    font-family: 'Montserrat-Bold';
}

#testimonials
{
    
    text-align: center;
    background-color:#323232;
    color:#fff;
    padding-bottom: 5%;
    padding-top: 5%;
}

.testimonial-image
{
    width:10%;
    border-radius:100%;
    margin:20px;
}


.carousel-item
{
    padding:15% 15%;
}

.timage
{
    width:25%;
    text-align: center;
}

#themes
{
    text-align:center;
    background-color:white;
    color:#323232 ;
}

.timage{
    float:left;
    margin-right: 40px;
    border-radius:100%;
    width: 38%;
}

p
{
    
    font-family:'Montserrat-Black';
    font-size: 20px;
    text-align: left;
    line-height: 2;
}

.t1image{
    float:right;
    margin-left: 40px;
    border-radius:100%;
    width: 40%;
}

.t
{
    padding: 10% 10%;
}

.bottom-container
  {
      background-color:#323232;;
      padding: 50px 0px 20px;
      text-align: center;
      color: white;
  }


  .copyright{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.75rem;
    padding: 20px 0px;
}

.footer-link{
    color:white;
    margin: 10px 20px;
    
}

.footer-link:hover
{
    color: #fff;
}



